<!DOCTYPE html>
<html>
  <head>
    <title>JasonsRecipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <script>window.BACK_TO_RECIPES_BUTTON_TEXT = "<%= j(BACK_TO_RECIPES_BUTTON_TEXT) %>";</script>
    <script>window.CREATE_NEW_RECIPE_BUTTON_TEXT = "<%= j(CREATE_NEW_RECIPE_BUTTON_TEXT) %>";</script>
    <script>window.CREATE_RECIPE_BUTTON_TEXT = "<%= j(CREATE_RECIPE_BUTTON_TEXT) %>";</script>
    <script>window.DELETE_RECIPE_BUTTON_TEXT = "<%= j(DELETE_RECIPE_BUTTON_TEXT) %>";</script>
    <script>window.EDIT_RECIPE_BUTTON_TEXT = "<%= j(EDIT_RECIPE_BUTTON_TEXT) %>";</script>
    <script>window.HOME_BUTTON_TEXT = "<%= j(HOME_BUTTON_TEXT) %>";</script>
    <script>window.HOME_HEADER_TEXT = "<%= j(HOME_HEADER_TEXT) %>";</script>
    <script>window.RECIPES_INDEX_HEADER_TEXT = "<%= j(RECIPES_INDEX_HEADER_TEXT) %>";</script>
    <script>window.RECIPE_FORM_NAME_FIELD = "<%= j(RECIPE_FORM_NAME_FIELD) %>";</script>
    <script>window.RECIPE_FORM_INGREDIENTS_FIELD = "<%= j(RECIPE_FORM_INGREDIENTS_FIELD) %>";</script>
    <script>window.RECIPE_FORM_INSTRUCTIONS_FIELD = "<%= j(RECIPE_FORM_INSTRUCTIONS_FIELD) %>";</script>
    <script>window.UPDATE_RECIPE_BUTTON_TEXT = "<%= j(UPDATE_RECIPE_BUTTON_TEXT) %>";</script>
    <script>window.VIEW_RECIPE_BUTTON_TEXT = "<%= j(VIEW_RECIPE_BUTTON_TEXT) %>";</script>
    <script>window.VIEW_RECIPES_BUTTON_TEXT = "<%= j(VIEW_RECIPES_BUTTON_TEXT) %>";</script> 

    <%= yield %>
  </body>
</html>
